{% extends "base_generic.html" %}

{% block content %}
    <h2>{{ page_name }}</h2>

    <ul>
        {% for field in object.get_fields %}
            <p><b>{{ field.label }}:</b> {{ field.value }}</p>
        {% endfor %}
    </ul>

    {% if object.get_parent_relations %}
        <hr/>
        <ul>
            {% for parent_rel in object.get_parent_relations %}
                <li>{{ parent_rel.verbose_name|title }}: 
                    <a href="{{ parent_rel.object.get_absolute_url }}">
                        {{ parent_rel.object.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if object.get_child_relations %}
        <hr/>
        <ul>
            {% for child_rel in object.get_child_relations %}
                <li>{{ child_rel.type_name|title }}s:
                    <ul>
                        {% if child_rel.objects %}
                            {% for child in child_rel.objects %}
                                <li><a href="{{ child.get_absolute_url }}">{{ child }}</a></li>
                            {% endfor %}
                        {% else %}
                            <p>There are no {{ child_rel.type_name }}s for this {{ type_name }}.</p>
                        {% endif %}
                        <p>
                            <a href="{{ child_rel.create_url }}?parent={{ object.id }}">
                                Add {{ child_rel.type_name }}
                            </a>
                        </p>
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <hr/>
    {% endif %}

    <a href="{{ object.get_absolute_url }}/update">Edit {{ type_name }}</a>
    <a href="{{ object.get_absolute_url }}/delete">Delete {{ type_name }}</a>
{% endblock %}
