{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ verbose_name }} List</h1>

    <ul>
        {% if object_list %}
            {% for object in object_list %}
                <li>
                    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                </li>
            {% endfor %}
        {% else %}
            <p>There are no {{ verbose_name }}s.</p>
        {% endif %}
        <p><a href="{{ create_url }}">Add new {{ verbose_name }}</a></p>
    </ul>

{% endblock %}
