{% extends "base_generic.html" %}

{% block content %}
    <h1>Element Type: {{ elementtype }}</h1>
    <h3>Investigation Type: {{ elementtype.investigation_type }}</h3>
    <h3>Field Descriptors:</h3>
    <ul>
    {% for element_field_descriptor in elementtype.elementfielddescriptor_set.all  %}
        <li>
        {{ element_field_descriptor }}
        </li>
    {% endfor %}
    <p><a href="{% url 'app:element_field_descriptor_create' %}">Add field descriptor to element type.</a></p>
    </ul>
{% endblock %}
